<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.updateviewplugin.UpdateAppPlugin" version="0.0.1">

	<js-module src="www/UpdateAppPlugin.js" name="UpdateAppPlugin">
        <clobbers target="UpdateAppPlugin" />
    </js-module>

	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
                <feature name="UpdateAppPlugin">
					<param name="android-package" value="org.apache.cordova.updateApp.UpdateAppPlugin" />
				</feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>
        <source-file src="src/android/org/apache/cordova/updateApp/UpdateAppPlugin.java" target-dir="src/org/apache/cordova/updateApp" />
    </platform>
</plugin>